body {
    display: flex;
    flex-direction: column;
}

.scoresHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.buttonRow{
    display: flex;
    align-self: center;
    gap: 20px;
}

.button {
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    background-color: yellow;
}

.scoreText {
    padding-top: 20px;
    align-self: center;
}